<div class="container">
	<% @billings.each do |billing| %>
		<p> <%= billing.amount %></p>
		<hr>
		<% billing.promote_activity.each do |promote| %>
			<%= promote.activity.name %>
		<% end %>
	<% end %>
</div>