body {
	color: rgb(2,13,54);
	font-family: 'Roboto', sans-serif;
}

h3, h5, h6 {
	color: rgb(18,72,92)
}

a {
	color: rgb(196,33,61)
}

a:hover {
	text-decoration: none;
	color:rgb(18,72,92);
	text-decoration-style: unset;
}

.boton-tipo {
	color: white;
	background-color: rgb(106,37,94)
}

/* barra de navegación */


.texto-barra{
	color: rgb(196,33,61);
}


.logo {
	text-align: center;
	padding: 15px 0 15px 0;
}


.cuerpo {
	margin: 0 50px 0 50px;
	font-size: 12px;
}

.nav-top {
	position: -webkit-sticky; /* Safari */
  	position: sticky;
  	top: 0;
	padding: 7px 0 7px 0;
	margin: 0 0 5px 0;
	border-bottom: solid 2px rgb(2,13,54);
	z-index: 10;
	background-color: white;
	text-align:center;
}

.nav-inicio {
	display: inline;
	padding: 0 0 0 16px;
}

.salir{
	text-align:right;
}
.nav-elemento{
	padding: 0 12px 0 12px;
}

/*  esto son estilos de index*/

.crear {
	text-align:center;
	font-weight: bold;
}

.foto-index {
	border-radius: 6px;
	margin: 0 0 10px 0;
}

.texto-index {
}

.evento {
	margin: 10px 10px 10px 10px;
	padding: 5px;
	border: solid 1px rgb(2,13,54);
}

#resultado {
	background-color: white;
  	z-index: 1;
  	float: left;
}

.resultado_fila{
	line-height: 1.5;
	list-style-type: none;
	margin: 0 0 0 0;
	padding: 5px 0 0 0;
	width: 260px;
}

.resultado_fila li {
	border-bottom: solid 1px lightgray;
}

.collection_index {
	border: solid 1px rgb(2,13,54);
	padding: 5px 0 0 5px;
}

/*  esto son estilos de edit user_act*/
.agregar-info {
	margin: 20px 0 0 20%;
	border: solid 1px rgb(2,13,54);
}

/*  esto son estilos de user_page*/
.titulo-user{
	margin: 0 0 0 0;
	position: absolute;
  	top: 22px;
}

.recuadro-user-resumen{
	border: solid 2px rgb(196,33,61);
	border-radius: 10px;
	margin: 10px 0 0 0;
	padding: 0 0 10px 0;
	box-sizing: border-box;
}

.nombre-user{
	color:rgb(196,33,61);
	float: left;
}
.letra-circulo{
	background: rgb(196,33,61);
	border-radius: 0.8em;
	-moz-border-radius: 0.8em;
	-webkit-border-radius: 0.8em;
	color: #ffffff;
/*	display: inline-block; */
	line-height: 1.4em;
	margin-right: 10px;
	text-align: center;
	font-size: 40px;
	width: 1.4em;
	float: left;
}


.foto_usuario {
	border-radius: 6px;
	margin: 20px 0 0 0;
	width: 100%;
}

.recuadro-coleccion{
	margin:0 0 0 0;
	padding: 0 0 0 0;
	border: solid 2.5px rgb(2,13,54);
}

.foto-coleccion {
	width: 100%;
}

.coleccion-nombre{
	position: absolute;
  	top: 0px;
  	width: 100%;
  	text-align: center;
  	background-color: rgba(250,250,250,0.9);

}

/*  esto son estilos de activity */

.fondo_activity {
	min-height: 88vh;
	width: 100%;
	padding: 30px 30px 30px 30px;
}

.cuadro_centro_act {
	padding: 20px 10% 20px 10%;
	background-color: rgba(250,190,67,0.85);
	height: 88vh;
	border-radius: 6px;
}

.boton {
	text-align: right;
}

/* estos son estilos de show collection */
.cuadro_centro_col {
	padding: 20px 10% 20px 10%;
	background-color: rgba(2,13,54,0.85);
	height: 88vh;
	border-radius: 6px;
}

.titulo-col{
	color: rgb(250,190,67)
}

.color-rojo-col{
	color: rgb(196,33,61)
}

/* editar colección */
.boton-tipo-chico {
	color: rgb(2,13,54);
	border: solid 1px rgb(2,13,54);
	height: 20px;
	line-height: 8px;
	font-size: 12px;
}

.boton-tipo-chico:hover{
	background-color: rgba(2,13,54,0.60);
}

.elemento-edit-col{
	width: 60%;
	padding: 0 0 0 10px;
}

/* configuration */

.elemento-config{
	width: 60%;
	padding: 0 0 0 10px;
}

.titulo-config{
	text-align:center;
}

.boton-config-titulo {
	color: white;
	background-color: rgb(196,33,61);
	height: 24px;
	line-height: 10px;
	font-size: 12px;
}

.boton-config {
	color: white;
	background-color: rgb(18,72,92);
	height: 24px;
	line-height: 12px;
	font-size: 12px;
}



/* promoción actividades */
.cuadro-promo{
	text-align:center;
	border: solid 2px rgb(2,13,54);
	padding: 20px 0 20px 0;

}

@media (max-width:800px) {


	.barrita{
		display: none;
	}
	.titulo-user{
	
	margin: 20px 0 0 0;
	border: solid 1px rgb(2,13,54);
}
}